
*{
    margin-top: auto;
    padding: auto;
    background-color: black;
}
form{
 background-color: aquamarine;
}
div{
    width:400px;
    height: 150px;
    background-color: pink;
    border:4px dotted;
    padding: 40px;
    margin: 50px;
    font-display: inline-table;
    text-align: center;
}